h3 {
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto;
}

.card img {
  height: 16rem;
  width: 16rem;
}

.card-text:first-of-type{
  height: 50%;
}

i {
  font-size: 2.5rem;
}

.btn {
  margin-bottom: 1rem;
}

.form-group, .btn{
  margin-left: 2rem;
  margin-top: 1rem;
  max-width: 30rem;
}

